<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<head>
    <title>Patient Form</title>
</head>
<body>
<div layout:fragment="content1">
        <div class="container p-3">
                    <h3 class="text-primary m-5">Ajouter un rendez-Vous pour <span th:text="${patient.nom}"></span></h3>
                    <form class="mb-5" th:method="post" th:action="@{/admin/rendezvous/save/(id=${patient.id}, malade=${malade}, score=${score})}">
                        <div class="mb-3">
                            <label for="date" class="form-label">Date Rendez Vous</label>
                            <input type="date" class="form-control" name="date" id="date" >
                        </div>
                        <select class="form-select mb-3" name="medcinId" aria-label="Default select example">
                            <option th:each="m:${medcin}" th:text="${m.nom}" th:value="${m.id}"></option>
                        </select>
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                    </form>

            <table class="table mt-5 table-hover">
                <thead>
                <tr>
                    <th> ID </th>
                    <th> Date </th>
                    <th> Medcin </th>
                    <th> etat Rendez-Vous </th>

                </tr>
                </thead>
                <tbody>

                <tr th:each="r:${patient.getRendezVous()}">
                    <td th:text="${r.id}"></td>
                    <td th:text="${r.date}"></td>
                    <td th:text="${r.medcin.nom}"></td>
                    <td th:text="${r.annuler} ? 'ANNULER' : 'EN COURS '" th:class="${r.annuler} ? 'text-danger' : 'text-info'"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>