<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<head>
    <title>Patient Form</title>
</head>
<body>
<div layout:fragment="content1">
        <div class="container p-3">
            <div class="row">
                <div class="card col-6">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${patient.getNom()}"></h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                    </div>
                </div>
                <div class="col-6">
                    <h3>Ajouter un rendez-Vous</h3>
                    <form th:method="post" th:action="@{/admin/save}">
                        <div class="mb-3">
                            <label for="date" class="form-label">Date Naissance</label>
                            <input type="date" class="form-control" name="dateNaissance" id="date" >

                        </div>

                        <button type="submit" class="btn btn-success">Ajouter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>