<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="template">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
    <div layout:fragment="content1">
        <div class="container mt-3">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-secondary">Liste des Patients</h1>
                    <form method="get" th:action="@{/user/patients}" class="row">
                        <div class="form-group col-6">
                            <input name="key" type="text" class="form-control" th:value="${key}" placeholder="Nom...">
                        </div>
                        <div class="form-group col-6">
                            <input name="score" type="number" min="0" th:value="${score}" class="form-control" placeholder="Score...">
                        </div>
                        <div class="form-radio form-check-inline">
                            <input class="form-check-input" type="radio" name="malade" id="inlineRadio1" value="tout" th:checked="${malade == 'tout'? true : false}">
                            <label class="form-check-label" for="inlineRadio2">Tout</label>
                        </div>
                        <div class="form-radio form-check-inline">
                            <input class="form-check-input" type="radio" name="malade" id="inlineRadio2" value="malade" th:checked="${malade == 'malade'? true : false}">
                            <label class="form-check-label" for="inlineRadio2">Malades</label>
                        </div>
                        <div class="form-radio form-check-inline">
                            <input class="form-check-input" type="radio" name="malade" id="inlineRadio3" value="sain" th:checked="${malade == 'sain'? true : false}">
                            <label class="form-check-label" for="inlineRadio2">Sains</label>
                        </div>

                        <button type="submit" class="btn btn-outline-success m-2">Chercher</button>
                    </form>
                </div>



                <div class="card-body">
                    <table class="table mt-3 table-hover">
                        <thead>
                        <tr>
                            <th> ID </th>
                            <th> Nom </th>
                            <th> Date </th>
                            <th> Score </th>
                            <th> Status </th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="p:${patients}">
                            <td th:text="${p.id}"></td>
                            <td th:text="${p.nom}"></td>
                            <td th:text="${p.dateNaissance}"></td>
                            <td th:text="${p.score}"></td>

                            <td th:text="${p.malade} ? 'MALADE' : 'SAIN '" th:class="${p.malade} ? 'text-danger' : 'text-success'"></td>
                            <td sec:authorize="hasAuthority('ADMIN')">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a class="btn btn-outline-secondary" th:href="@{/admin/update(id=${p.id}, key=${key}, page=${currentPage})}">Modifier <i class="fa-solid fa-pen"></i></a>
                                    <a onclick="return confirm('sure ?')" class="btn btn-outline-danger" th:href="@{/admin/delete(id=${p.id}, key=${key}, page=${currentPage})}">Supprimer <i class="fa-solid fa-trash-can"></i></a>
                                    <a class="btn btn-outline-primary" th:href="@{/admin/details/patient(id=${p.id}, key=${key}, page=${currentPage})}">Détails <i class="fa-solid fa-arrow-right"></i></a>
                                </div>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                    <ul class="nav nav-pills">
                        <li th:each="page, status:${pages}">
                            <a th:class="${status.index==currentPage?'btn btn-secondary m-1':'btn btn-outline-secondary m-1'}"
                               th:text="${status.index}"
                               th:href="@{patients(page=${status.index}, key=${key}, malade=${malade})}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>